html {
    scroll-behavior: smooth;
}


body {
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #141824;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* navigation */

ul li {
    list-style: none;
}

a {
    text-decoration: none;

}

a:hover {
    color: white;
}

#mainNavbar .nav-link {
    color: #edeafb;
    font-size: 2rem;
    margin: 0 10px;
}


#mainNavbar {
    font-size: 1.5rem;
    font-weight: 200;
}

.navbar.scrolled {
    background-image: linear-gradient(90deg, #f3f700, #b91ee9);
    transition: background 500ms;
}




.nav-list a {
    transition: all 200ms;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(237, 234, 251)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}



@media (min-width: 767px) {
    #mainNavbar .nav-link:hover {

        border-bottom: 1px solid #d4cefb;
        padding-top: 4px;
        padding-bottom: 0;

    }
}


@media (max-width: 767px) {

    .navbar {
        justify-content: end;
        padding: 10px 2px;
        text-align: center;
        letter-spacing: 2px;
        background-image: linear-gradient(90deg, #f3f700, #b91ee9);
        padding: 5px 10px;
    }

    #mainNavbar .nav-item {
        border-bottom: 1px solid #edeafb;

    }

    #mainNavbar .nav-item:last-child {
        border-bottom: none;
    }

    #mainNavbar .nav-link {
        font-size: 1.5rem;
    }

    #mainNavbar .nav-link:hover {
        color: black;
    }

}



/* header section */

p {
    margin-bottom: 0;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #47FCA1;
    font-size: 70px;
    margin-top: 300px;
    text-align: center;
    animation: slideMe .4s ease-in;
    /* font-family: 'Raleway', sans-serif; */
    letter-spacing: 2px;
    font-family: 'Spectral', serif;
    /* background-image: linear-gradient(60deg, #E21143, #FFB03A); */
    /* background-image: linear-gradient(140deg, #76d4ff, #b91ee9); */
    background-image: linear-gradient(90deg, #f3f700, #b91ee9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.heading-text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #47FCA1;
    margin-top: 10px;
    font-size: 70px;
    margin-bottom: 50px;
    text-align: center;
    animation: slideMe .8s ease-in;
    letter-spacing: 2px;
    font-family: 'Spectral', serif;
    text-transform: none;
    background-image: linear-gradient(90deg, #f3f700, #b91ee9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


h2 {
    font-size: 40px;
    color: #d4cefb;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: var(--bs-body-font-family);
    font-weight: 400;
    margin-bottom: 0;

}

@keyframes slideMe {
    0% {
        transform: skewX(53deg) translateX(-500px);
        opacity: 0;
    }

    60% {
        transform: translateX(0px);
    }

    62% {
        transform: skewX(0deg) translateX(30px);
    }

    70% {
        transform: skew(-20deg);
        opacity: 1;
    }

    80% {
        transform: skew(0deg) translate(0);
    }

    90% {
        transform: skew(-5deg);
    }

    100% {
        transform: skew(0deg);
    }
}

@keyframes slide-up {
    0% {
        opacity: .1;
        line-height: 800px;
        ;
    }

    100% {
        opacity: 1;
        line-height: 0px;
    }
}




@media (max-width: 800px) {

    h1 {
        font-size: 45px;
        margin-top: 130px;
        padding: 0 2px;
        line-height: 1.2;
    }

    .heading-text {
        font-size: 45px;
        margin: 10px 2px;
        padding: 0 2px;
        line-height: 1.2;

    }

}

/* avail date section */

#date {

    letter-spacing: 2px;
    font-size: 40px;
    color: #edeafb;
    font-weight: 300;
    font-family: var(--bs-body-font-family);

}


.date-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    animation: slide-up .8s ease-in;
}

.date-container .avail {
    font-size: 30px;
    padding-left: 10px;
    font-style: italic;
    font-weight: 200;
    color: #edeafb;
    font-family: var(--bs-body-font-family);

}


@media (max-width: 800px) {

    #date {
        font-size: 25px;
        margin-top: 20px;
    }

    .date-container .avail {
        font-size: 20px;
        padding: 0;
    }

    .date-container {
        flex-direction: column;
        align-items: center;
    }
}


/* about section */

.about-me p {
    line-height: 1.3;
    font-weight: 300;
    max-width: 520px;
    letter-spacing: 1px;
    transition: all 200ms ease-in-out;
    font-family: 'Playfair Display', serif;
    color: white;

}

.about-me {
    display: flex;
    align-items: center;
}

.about-me .about-text {
    font-size: 25px;
}

#about-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 280px;
    margin-top: 10px;
    margin-bottom: 50px;
}

#about {
    background-color: #d4cefb;
    border-radius: 50px;
    width: 330px;
    height: 410px;
}

#about img {
    max-width: 324px;
    max-height: 396px;
    border-radius: 50px;
    border: .2px solid rgb(154, 139, 156);
    transition: all 300ms ease-in-out;

}

#about:hover {
    background-color: #dc69fe;
}

#about img:hover {
    transform: translateY(-8px) translateX(-8px);
    border: .2px solid black;
}

.about-head {
    padding-bottom: 40px;
}

.about-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}

@media (max-width: 800px) {
    #about-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        padding-top: 80px;
        margin-bottom: 0;
    }

    h2 {
        font-size: 30px;
    }

    .about-me #about {
        align-self: center;
    }

    .about-me {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .about-me p {
        text-align: center;
        background-color: #d4cefb;

        border: 10px solid #d4cefb;
        border-radius: 10px;
        color: #1f1f1f;
        padding: 10px 20px 60px 20px;
        font-weight: 400;

        font-family: 'Sora', sans-serif;
        line-height: 1.3;
        transition: all 200ms ease-in-out;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        margin-top: -5px;
    }

    .about-head {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #d4cefb;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        padding-top: 30px;
    }

    .about-head h2 {
        color: #1f1f1f;
    }



    .about-flex {
        display: flex;
        justify-content: center;
        padding: 0;
        margin-top: 30px;
    }

    .about-flex .about-text {
        align-self: center;
    }

    .about-head .line {
        background-color: #1f1f1f;
    }


}

/* up button */

#btnScrollToTop {
    border-radius: 50%;
    position: fixed;
    right: 18px;
    bottom: 20px;
    width: 65px;
    height: 65px;
    background: #141824;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 9999;
}

#btnScrollToTop img {
    margin-bottom: 5px;
    width: 50px;
    height: 50px;
    z-index: 9999;
}

@media (max-width: 800px) {

    #btnScrollToTop {
        width: 50px;
        height: 50px;
        visibility: visible;
    }

    #btnScrollToTop img {
        width: 35px;
        height: 35px;
    }
}

/* project section */

.project-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
}

.project-links img {
    width: 400px;
    height: 250px;
    border: 2px solid #d4cefb;
}

#projects {
    padding-top: 200px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin-bottom: 50px;
}

.img_wrap {
    position: relative;
    max-width: 400px;
    max-height: 250px;
    margin: 5px 5px;
}


.image-desc {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    color: #edeafb;
    background: rgba(28, 30, 31, 0.82);
    padding-top: 90px;
    transition: all 0.5s;
    font-family: var(--bs-body-font-family);
    font-weight: 200;
    font-size: 3rem;
    line-height: 1.2;
}

.long {
    padding-top: 16%;
}

.img_wrap:hover .image-desc {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 800px) {

    .project-links img {
        width: 320px;
        height: 200px;
    }

    .project-links {
        margin-top: 40px;
    }

    #projects {
        padding-top: 100px;
        margin-bottom: 20px;
    }

    .image-desc {
        padding-top: 75px;
        font-size: 2.4rem;
    }


    .long {
        padding-top: 18%;
    }

}



/* skills sections */

#skills {

    font-size: 40px;
    background-size: 100%;
    background-position: center;
    padding-bottom: 200px;
    padding-top: 150px;
    background-repeat: no-repeat;
    font-weight: 200;
}

#skills p {

    color: #FAF9F6;
}

.center {
    display: flex;
    padding: 20px 20px;
    align-items: center;
}


#skills img {
    width: 40px;
    height: 40px;
    background-color: #d4cefb;
    margin: 0 8px;
}

#skills .pad {
    padding: 1px;
}

.skill-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    flex-wrap: wrap;
}

#skills .bigger {
    width: 40px;
    height: 40px;
    padding: 3.5px 3px;
}

@media (max-width: 800px) {
    #skills {
        padding-top: 80px;
        padding-bottom: 100px;
        background-image: none;
    }

    .skill-list {
        align-items: center;
        flex-direction: column;
    }

    #skills p {
        color: #edeafb;
        font-size: 30px;
    }

    .skill-list .center {
        padding: 15px 15px;
    }

}

/* footer contact section */

#contact {
    padding-bottom: 30px;
    background-color: #edeafb;
}



svg {

    margin-top: -1px;

}

.contact-text {
    color: #141824;
    text-align: center;
    font-size: 40px;
    padding-top: 80px;
}

.email {
    border: 2px solid #141824;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    color: #141824;
    padding: 15px;
    font-weight: 400;
    background-color: #d4cefb;
    transition: color 0.25s, border color 0.25s, box-shadow 0.25s, transform 0.25s;
}

.email-button {
    display: flex;
    justify-content: center;
    margin: 80px 0 120px 0;
}

.email:hover {
    border-color: #b91ee9;
    color: #b91ee9;
    box-shadow: 0 0.5em 0.5em -0.4em #b91ee9;
    transform: translateY(-0.25em);
}

.line {
    width: 135px;
    height: 4px;
    background-color: #d4cefb;
    margin-top: 10px;
}

.contact-line {
    background-color: #141824;
}

.flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    border-top: 1px solid #d4cefb;
}

.links a {
    padding: 30px 20px;
    font-size: 20px;
}

.copyright p {
    padding-top: 5px;
    color: #141824;
    text-align: center;
    font-size: 16px;
}

.links img {
    width: 50px;
    height: 50px;

}

.links img:hover {
    opacity: .6;
}

@media (max-width: 800px) {
    .line {
        width: 100px;
        height: 2px;
    }

    .contact-text {
        font-size: 30px;
    }

    .email {
        font-size: 22px;
    }
}