@font-face {
    font-family: 'Noto-Serif-Display-SemiCondensed-Light';
    src: url('../fonts/Noto-Serif-Display-SemiCondensed-Light.ttf.woff') format('woff'),
        url('../fonts/Noto-Serif-Display-SemiCondensed-Light.ttf.svg') format('svg'),
        url('../fonts/Noto-Serif-Display-SemiCondensed-Light.ttf.eot'),
        url('../fonts/Noto-Serif-Display-SemiCondensed-Light.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}


html {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    color: #FAF9F6;
}


body {
    background-image: url('../images/background-2.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* navigation */

ul li {
    list-style: none;
}

a {
    text-decoration: none;

}

.navbar {
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 15px;
    z-index: 100;
    width: 100%;
}

.nav-list li {
    display: inline-block;
    padding: 0 25px;
}

.nav-list ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-list li a {
    display: block;
    color: #FAF9F6;
    font-size: 36px;
    font-family: 'Questrial', sans-serif;
}

.nav-list a {
    transition: all 0.5s;
}


.nav-list a:hover {
    color: #ff6e00;

}

.nav-list a:active {
    border-bottom: 2px solid #ff6e00;
}


@media screen and (max-width: 800px) {

    .navbar {
        justify-content: center;
        padding: 10px 2px;
        text-align: center;
        letter-spacing: 2px;
    }

    .nav-list li a {
        font-size: 26px;
        margin: 15px 2px;
        border-bottom: 1px solid #ff6e00;
        padding-bottom: 3px;
        letter-spacing: 3;

    }

    .nav-list li {
        padding: 0;
    }


}



/* header section */

p {
    font-family: 'Questrial', sans-serif;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d4cefb;
    font-size: 60px;
    margin-top: 200px;
    text-align: center;
    animation: slideMe .4s ease-in;
}

.heading-text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d4cefb;
    margin-top: 10px;
    font-size: 60px;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    animation: slideMe .8s ease-in;
}


h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #d4cefb;
    letter-spacing: 2px;
}

@keyframes slideMe {
    0% {
        transform: skewX(53deg) translateX(-500px);
        opacity: 0;
    }

    60% {
        transform: translateX(0px);
    }

    62% {
        transform: skewX(0deg) translateX(30px);
    }

    70% {
        transform: skew(-20deg);
        opacity: 1;
    }

    80% {
        transform: skew(0deg) translate(0);
    }

    90% {
        transform: skew(-5deg);
    }

    100% {
        transform: skew(0deg);
    }
}

@keyframes slide-up {
    0% {
        opacity: .1;
        line-height: 800px;
        ;
    }

    100% {
        opacity: 1;
        line-height: 0px;
    }
}




@media screen and (max-width: 800px) {

    h1 {
        font-size: 40px;
        margin-top: 60px;
        padding: 0 2px;

    }

    .heading-text {
        font-size: 40px;
        margin: 10px 2px;
        padding: 0 2px;

    }

}



/* avail date section */

#date {
    color: #ff6e00;
    letter-spacing: 2px;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}


.date-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    animation: slide-up .8s ease-in;
}

.date-container .avail {
    font-size: 20px;
    color: #ff6e00;
    padding-left: 10px;
    font-style: italic;

}


@media screen and (max-width: 800px) {

    #date {
        font-size: 20px;
        margin-top: 50px;
    }

    .date-container .avail {
        font-size: 16px;
    }
}


/* about section */

.about-me p {
    line-height: 1.3;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    max-width: 480px;
    letter-spacing: 1px;
}

.about-me {
    display: flex;
    align-items: center;
}

.about-me .about-text {
    font-size: 25px;
}

#about-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 275px;
    margin-top: 100px;
    margin-bottom: 100px;
}

#about img {
    max-width: 324px;
    max-height: 396px;
    border-radius: 50px;
}

.about-head {
    padding-bottom: 40px;
}

.about-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}

@media screen and (max-width: 800px) {
    #about-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 180px;
        padding-top: 0;
    }

    .about-me #about {
        align-self: center;
    }

    .about-me {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-me p {
        width: 90%;
        text-align: center;
    }

    .about-head {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .about-flex {
        display: flex;
        justify-content: center;
        padding: 0;
        margin-top: 30px;
    }

    .about-flex .about-text {
        align-self: center;
    }
}


/* up button */

#btnScrollToTop {
    border-radius: 50%;
    position: fixed;
    right: 18px;
    bottom: 20px;
    width: 65px;
    height: 65px;
    background: rgba(0, 0, 0, 0.766);
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 9999;
}

#btnScrollToTop img {
    right: 18px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    z-index: 9999;
}

@media screen and (max-width: 800px) {

    #btnScrollToTop {
        width: 50px;
        height: 50px;
        visibility: visible;
    }

    #btnScrollToTop img {
        width: 35px;
        height: 35px;
    }
}

/* project section */

.project-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
}

.project-links img {
    width: 400px;
    height: 250px;
    border: 2px solid #d4cefb;
}

#projects {
    padding-top: 200px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin-bottom: 200px;
}

.img_wrap {
    position: relative;
    max-width: 400px;
    max-height: 250px;
    margin: 5px 5px;
}


.image-desc {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    color: #FAF9F6;
    background: rgba(28, 30, 31, 0.82);
    padding-top: 100px;
    transition: all 0.5s;
}

.img_wrap:hover .image-desc {
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 800px) {

    .project-links img {
        width: 320px;
        height: 200px;
    }

    .project-links {
        margin-top: 40px;
    }

    #projects {
        padding-top: 70px;
        margin-bottom: 100px;
        font-size: 30px;
    }

    .image-desc {
        margin-bottom: 8px;
        padding-top: 80px;
    }

}



/* skills sections */

#skills {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    background-image: url('../images/skills.jpg');
    background-size: 100%;
    background-position: center;
    padding-bottom: 400px;
    padding-top: 100px;
    background-repeat: no-repeat;
}

#skills p {
    color: #6f45f9;
}

.center {
    display: flex;
    padding: 0 20px;
    align-items: center;
}


#skills img {
    width: 40px;
    height: 40px;
    background-color: #d4cefb;
    margin: 0 8px;
}

#skills img:last-child {
    padding: 1px;
}

.skill-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    flex-wrap: wrap;
}

#skills .bigger {
    width: 40px;
    height: 40px;
    padding: 3.5px 3px;
}

@media screen and (max-width: 800px) {
    #skills {
        padding-top: 30px;
        padding-bottom: 100px;
        background-image: none;
    }

    .skill-list {
        align-items: center;
        flex-direction: column;
    }

    #skills p {
        color: #edeafb;
        font-size: 30px;
    }

    .skill-list .center {
        padding: 15px 15px;
    }

}

/* footer contact section */

#contact {
    padding-bottom: 50px;
    background-color: #edeafb;
}

.contact-text {
    color: #ff6e00;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    padding-top: 80px;
}

.email {
    border: 2px solid black;
    border-radius: 40px;
    text-align: center;
    font-size: 30px;
    color: black;
    padding: 15px;
    background-color: #d4cefb;
    transition: background-color 200ms ease-in-out;
}

.email-button {
    display: flex;
    justify-content: center;
    margin: 80px 0 120px 0;
}

.email:hover {
    background-color: #ff6e00;
}

.line {
    width: 135px;
    height: 4px;
    background-color: #d4cefb;
    margin-top: 10px;
}

.contact-line {
    background-color: black;
}

.flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    border-top: 1px solid #d4cefb;
}

.links a {
    padding: 30px 20px;
    color: #ff6e00;
    font-size: 20px;
}

.copyright p {
    padding-top: 5px;
    color: black;
    text-align: center;
    font-size: 16px;
}

.links img {
    width: 50px;
    height: 50px;
}

.links img:hover {
    opacity: .6;
}